[Desktop Entry]
Name=OpenArena
Comment=First person shooter
Icon=ws.openarena.OpenArena
Exec=openarena
Terminal=false
Type=Application
Categories=Game;ActionGame;
PrefersNonDefaultGPU=true
